Pandas -> Data analysis and manipulation tool

* it is build based on numpy

* series -> 1D label array
* DataFrame -> 2D label array

In [1]:
import pandas as pd

In [3]:
# Creating a DataFrame

info = {
    "Name" : ["Rahul", "Rohit", "Tomba"],
    "CGPA" : [8.9, 9.7, 6.9]
}

df = pd.DataFrame(info)
df

    Name  CGPA
0  Rahul   8.9
1  Rohit   9.7
2  Tomba   6.9

* Here the "0 1 2" are the label (default label)
* We can defn our own label too

* the column name (Name, CGPA) are individual series

* When multiple series combine it form a DataFrame

### label VS Index
* index mean position
* label mean named index

In [ ]:
# series -> 1D laballed array

s = pd.Series([15, 28, 32, 44, 51])
print(s)

# index
print(s[0])

0    15
1    28
2    32
3    44
4    51
dtype: int64
15

In [9]:
s = pd.Series([15, 28, 32, 44, 51], index=["Tomba", "Bob", "Charlie", "Chaoba", "Tom"])
s

Tomba      15
Bob        28
Charlie    32
Chaoba     44
Tom        51
dtype: int64

In [13]:
# excess using label name
print(s["Tom"])
print(s["Bob"])

# excess using index
print(s[0])

51
28
15

C:\Users\prita\AppData\Local\Temp\ipykernel_8760\4099733781.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [14]:
s.index

Index(['Tomba', 'Bob', 'Charlie', 'Chaoba', 'Tom'], dtype='object')

## Series Properties
* Homogenous
* Vectorized Operations
* Handle Missing value with NaN
* Mutable values, immutable size

In [15]:
# Homogenous mean store same data type

s = pd.Series([15, 28, 32, 44, 51, "abc"], index=["Tomba", "Bob", "Charlie", "Chaoba", "Tom", 23])
print(s)

Tomba       15
Bob         28
Charlie     32
Chaoba      44
Tom         51
23         abc
dtype: object

In [20]:
# Vectorized operation

s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])
print(s1+s2)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [21]:
# Mutable values means we can modify

print(s1)
s1[0] = 22
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    22
1     2
2     3
3     4
4     5
dtype: int64

In [22]:
# immutable size means we cannot change the size if we do it will create a new series
print(s1)

change_s1 = s1.drop(0)
print(change_s1)

0    22
1     2
2     3
3     4
4     5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64