In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("globalAirQuality.csv")
df.head()

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    18000 non-null  object
 1   country      18000 non-null  object
 2   city         18000 non-null  object
 3   latitude     18000 non-null  float64
 4   longitude    18000 non-null  float64
 5   pm25         18000 non-null  float64
 6   pm10         18000 non-null  float64
 7   no2          18000 non-null  float64
 8   so2          18000 non-null  float64
 9   o3           18000 non-null  float64
 10  co           18000 non-null  float64
 11  aqi          18000 non-null  int64
 12  temperature  18000 non-null  float64
 13  humidity     18000 non-null  float64
 14  wind_speed   18000 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 2.1+ MB

In [5]:
df.describe()

,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
count,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000
mean,23.065980,37.655560,40.369131,70.152228,32.055176,6.035508,48.065100,0.800595,104.645556,21.510251,57.714351,5.283910
std,26.156536,78.600701,17.647450,24.999440,13.820680,2.454790,14.950849,0.250254,25.616070,9.509444,18.844908,2.741712
min,-37.814000,-123.121000,0.025000,0.061000,0.013000,0.003000,0.114000,0.000000,16.000000,5.000000,25.002000,0.500000
25%,12.972000,2.352000,27.904500,53.125500,22.362500,4.360750,38.028500,0.633000,87.000000,13.357750,41.320000,2.937000
50%,29.232000,42.146000,40.286500,69.961000,32.019500,6.026000,48.142000,0.800500,103.000000,21.455500,57.847000,5.297000
75%,41.008000,103.820000,52.436250,87.256500,41.364250,7.715250,58.258500,0.969000,121.000000,29.688250,74.234750,7.662000
max,60.170000,174.763000,115.683000,161.810000,90.019000,16.559000,103.016000,1.832000,231.000000,37.998000,89.997000,9.999000

In [6]:
df[(df["aqi"]) > 100]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
8,2025-11-05 02:25:17.554219,US,New York,40.713,-74.006,60.914,44.775,40.936,6.779,36.751,1.014,121,24.092,48.148,8.686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17991,2025-11-19 09:25:17.554219,CH,Zurich,47.377,8.542,52.120,71.160,35.405,7.752,39.811,0.878,104,32.556,31.372,2.787
17993,2025-11-19 11:25:17.554219,CH,Zurich,47.377,8.542,76.613,37.495,29.662,5.419,57.042,1.103,153,20.437,79.602,2.663
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660

In [7]:
df[(df["aqi"] > 100) & (df["temperature"] > 30)]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
14,2025-11-05 08:25:17.554219,US,New York,40.713,-74.006,38.815,121.394,25.969,4.112,44.730,1.124,121,34.481,81.790,3.576
17,2025-11-05 11:25:17.554219,US,New York,40.713,-74.006,63.552,57.838,13.754,4.427,42.251,0.997,127,36.193,62.906,7.097
25,2025-11-05 19:25:17.554219,US,New York,40.713,-74.006,56.954,75.045,29.837,9.541,54.198,1.170,113,31.289,43.279,5.264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17947,2025-11-17 13:25:17.554219,CH,Zurich,47.377,8.542,53.938,75.183,16.255,7.263,67.244,0.457,107,32.584,81.544,7.101
17950,2025-11-17 16:25:17.554219,CH,Zurich,47.377,8.542,70.255,60.620,32.081,2.065,47.803,0.852,140,36.885,34.173,1.748
17975,2025-11-18 17:25:17.554219,CH,Zurich,47.377,8.542,33.406,98.160,44.654,0.807,45.160,0.737,111,30.761,76.073,3.570
17976,2025-11-18 18:25:17.554219,CH,Zurich,47.377,8.542,73.493,89.558,9.313,4.768,51.505,0.745,146,30.909,81.573,1.024
17991,2025-11-19 09:25:17.554219,CH,Zurich,47.377,8.542,52.120,71.160,35.405,7.752,39.811,0.878,104,32.556,31.372,2.787

In [8]:
df[df["aqi"] > 100] [["city", "aqi"]]

           city  aqi
0      New York  108
3      New York  158
6      New York  155
7      New York  115
8      New York  121
...         ...  ...
17991    Zurich  104
17993    Zurich  153
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122

[9721 rows x 2 columns]

In [9]:
df[(df["city"] == "New York") & (df["temperature"] > 20)] [["pm10", "no2", "so2"]]

        pm10     no2    so2
2     82.553  26.935  9.538
3     79.951  63.536  7.609
6     65.198  20.302  7.641
7    111.709  34.533  6.945
8     44.775  40.936  6.779
..       ...     ...    ...
354   72.178  35.596  1.458
355   86.867  54.213  9.098
356   49.062  55.001  6.786
358   65.374  67.655  9.725
359   93.189  10.928  7.350

[195 rows x 3 columns]

### Quarry() rules

* Expression as a string
* Column based reference
* Backticks for col_name with space or special characters
* Operators (&, |, ~, >=, >, <=, <, ==, etc)
* @ to reference Python vars
* Chained comparisons

#### It return copy not a view

In [10]:
df.query("aqi > 200")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
745,2025-11-05 19:25:17.554219,GB,London,51.507,-0.128,107.144,43.819,13.389,4.601,21.680,0.890,214,19.055,66.245,1.637
8941,2025-11-17 07:25:17.554219,JP,Osaka,34.694,135.502,102.142,95.204,41.688,7.806,28.951,0.753,204,15.277,76.131,4.586
12956,2025-11-19 14:25:17.554219,NZ,Auckland,-36.848,174.763,44.824,66.657,90.019,3.637,41.311,0.849,225,14.872,63.319,0.958
14555,2025-11-11 05:25:17.554219,PH,Manila,14.600,120.984,103.023,66.678,43.284,2.167,48.250,0.849,206,11.027,63.522,7.635
17458,2025-11-12 04:25:17.554219,FI,Helsinki,60.170,24.938,14.329,51.173,81.111,7.725,61.160,1.383,202,34.420,26.061,3.771
17529,2025-11-15 03:25:17.554219,FI,Helsinki,60.170,24.938,115.683,81.714,54.764,6.687,39.552,0.685,231,25.795,87.839,6.705
17815,2025-11-12 01:25:17.554219,CH,Zurich,47.377,8.542,54.805,39.178,81.406,10.241,46.579,0.498,203,20.883,70.201,3.500

In [11]:
df.query("aqi > 100 & temperature > 30")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
14,2025-11-05 08:25:17.554219,US,New York,40.713,-74.006,38.815,121.394,25.969,4.112,44.730,1.124,121,34.481,81.790,3.576
17,2025-11-05 11:25:17.554219,US,New York,40.713,-74.006,63.552,57.838,13.754,4.427,42.251,0.997,127,36.193,62.906,7.097
25,2025-11-05 19:25:17.554219,US,New York,40.713,-74.006,56.954,75.045,29.837,9.541,54.198,1.170,113,31.289,43.279,5.264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17947,2025-11-17 13:25:17.554219,CH,Zurich,47.377,8.542,53.938,75.183,16.255,7.263,67.244,0.457,107,32.584,81.544,7.101
17950,2025-11-17 16:25:17.554219,CH,Zurich,47.377,8.542,70.255,60.620,32.081,2.065,47.803,0.852,140,36.885,34.173,1.748
17975,2025-11-18 17:25:17.554219,CH,Zurich,47.377,8.542,33.406,98.160,44.654,0.807,45.160,0.737,111,30.761,76.073,3.570
17976,2025-11-18 18:25:17.554219,CH,Zurich,47.377,8.542,73.493,89.558,9.313,4.768,51.505,0.745,146,30.909,81.573,1.024
17991,2025-11-19 09:25:17.554219,CH,Zurich,47.377,8.542,52.120,71.160,35.405,7.752,39.811,0.878,104,32.556,31.372,2.787

In [12]:
df.query("aqi > 100 & temperature > 30")[["city", "aqi"]]

           city  aqi
6      New York  155
7      New York  115
14     New York  121
17     New York  127
25     New York  113
...         ...  ...
17947    Zurich  107
17950    Zurich  140
17975    Zurich  111
17976    Zurich  146
17991    Zurich  104

[2384 rows x 2 columns]

In [13]:
aqi_value = 100
df.query("aqi > @aqi_value & temperature > 30")[["city", "aqi"]]

           city  aqi
6      New York  155
7      New York  115
14     New York  121
17     New York  127
25     New York  113
...         ...  ...
17947    Zurich  107
17950    Zurich  140
17975    Zurich  111
17976    Zurich  146
17991    Zurich  104

[2384 rows x 2 columns]

In [14]:
df["city"].unique()

array(['New York', 'Los Angeles', 'London', 'Paris', 'Berlin', 'Madrid',
       'Rome', 'Toronto', 'Mexico City', 'São Paulo', 'Buenos Aires',
       'Cape Town', 'Cairo', 'Nairobi', 'Lagos', 'Dubai', 'Riyadh',
       'Doha', 'Mumbai', 'Delhi', 'Bengaluru', 'Kolkata', 'Chennai',
       'Tokyo', 'Osaka', 'Seoul', 'Beijing', 'Shanghai', 'Hong Kong',
       'Singapore', 'Bangkok', 'Kuala Lumpur', 'Jakarta', 'Sydney',
       'Melbourne', 'Auckland', 'Moscow', 'Istanbul', 'Tehran', 'Karachi',
       'Manila', 'Ho Chi Minh City', 'San Francisco', 'Chicago',
       'Houston', 'Vancouver', 'Warsaw', 'Stockholm', 'Helsinki',
       'Zurich'], dtype=object)

In [17]:
df[(df["city"] == "San Francisco") & (df["aqi"] > 150)]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
15120,2025-11-04 18:25:17.554219,US,San Francisco,37.775,-122.419,46.185,133.725,63.606,4.944,62.872,0.364,159,9.341,47.550,9.955
15133,2025-11-05 07:25:17.554219,US,San Francisco,37.775,-122.419,91.990,57.679,48.421,4.492,31.562,0.623,183,19.237,75.726,2.007
15144,2025-11-05 18:25:17.554219,US,San Francisco,37.775,-122.419,79.986,53.891,24.945,5.679,71.125,0.714,159,29.689,28.329,2.002
15145,2025-11-05 19:25:17.554219,US,San Francisco,37.775,-122.419,17.609,61.379,74.893,10.755,33.243,0.843,187,12.539,83.418,7.683
15187,2025-11-07 13:25:17.554219,US,San Francisco,37.775,-122.419,76.929,65.853,52.316,11.292,65.714,0.759,153,15.739,69.576,8.040
15225,2025-11-09 03:25:17.554219,US,San Francisco,37.775,-122.419,76.512,22.890,41.083,3.849,65.219,1.248,153,25.506,42.460,1.337
15227,2025-11-09 05:25:17.554219,US,San Francisco,37.775,-122.419,81.601,39.836,37.673,7.014,43.420,0.856,163,20.915,37.835,9.092
15254,2025-11-10 08:25:17.554219,US,San Francisco,37.775,-122.419,75.847,2.036,9.843,8.818,44.125,0.833,151,23.833,46.589,1.355
15290,2025-11-11 20:25:17.554219,US,San Francisco,37.775,-122.419,77.892,114.371,6.051,0.040,58.489,1.065,155,28.270,46.448,6.458
15293,2025-11-11 23:25:17.554219,US,San Francisco,37.775,-122.419,58.570,76.377,60.580,8.328,55.597,0.860,151,18.177,44.005,7.084
15317,2025-11-12 23:25:17.554219,US,San Francisco,37.775,-122.419,88.115,87.070,32.723,3.932,41.391,0.498,176,24.350,26.978,5.404
15325,2025-11-13 07:25:17.554219,US,San Francisco,37.775,-122.419,16.293,83.555,60.926,3.277,68.605,0.854,152,36.883,78.415,1.013
15351,2025-11-14 09:25:17.554219,US,San Francisco,37.775,-122.419,83.908,88.281,23.304,7.279,26.652,0.883,167,13.596,79.341,3.401
15362,2025-11-14 20:25:17.554219,US,San Francisco,37.775,-122.419,77.228,33.249,42.399,6.840,25.148,0.572,154,23.160,64.339,1.129
15371,2025-11-15 05:25:17.554219,US,San Francisco,37.775,-122.419,23.676,81.583,64.688,9.380,60.167,0.999,161,27.198,54.170,8.380
15425,2025-11-17 11:25:17.554219,US,San Francisco,37.775,-122.419,22.470,110.278,66.337,3.567,58.146,1.083,165,10.523,36.509,3.618
15431,2025-11-17 17:25:17.554219,US,San Francisco,37.775,-122.419,84.284,79.414,11.744,5.789,45.756,0.809,168,14.815,42.932,3.236
15466,2025-11-19 04:25:17.554219,US,San Francisco,37.775,-122.419,32.104,87.752,65.104,3.313,30.301,0.687,162,12.177,42.707,5.964