### Melt :-
* {Wide to Long format (decreasing no of column and increasing no of row)}
* In wide format, the same kind of measurement is spread across multiple columns.
* In long format, those columns are stacked into two columns:
1) one for the variable name
2) one for the value

### Info :-
* id_vars :- Columns to keep fixed (identifiers).
* value_vars :- Columns to unpivot (turn into rows).
* var_name :- Name of the new column that stores former column names.
* value_name :- Name of the new column that stores values.
```python
df.melt(
    id_vars=["id"],
    value_vars=["math", "science"],
    var_name="subject",
    value_name="score"
)

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "country" : ["USA", "USA", "India", "India"],
    "year" : [2020, 2021, 2020, 2021],
    "sales" : [100, 120, 90, 110],
    "profit" : [20, 25, 18, 22],
})

df

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22

In [5]:
melt_df = df.melt(
    id_vars= ["country", "year"],
    value_vars= ["sales", "profit"],
    var_name= "metrics",
    value_name= "value"
)
melt_df

  country  year metrics  value
0     USA  2020   sales    100
1     USA  2021   sales    120
2   India  2020   sales     90
3   India  2021   sales    110
4     USA  2020  profit     20
5     USA  2021  profit     25
6   India  2020  profit     18
7   India  2021  profit     22

### Pivot :-
* (long to wide format)
* Takes one column’s unique values
* Spreads them out into multiple columns
* Fills those columns with values from another column
* It’s essentially the reverse of .melt().


### info :-
* index :- Column(s) to use as the row index (the identifier).
* columns :- Column whose unique values become new column names.
* values :- Column whose values fill the table.
```python
df.pivot(
    index = ["countru", "year"], # the column that want to keep
    columns = "metrics", 
    values = "value"
)

In [6]:
pivot_df = melt_df.pivot(
    index = ["country", "year"],
    columns = "metrics",
    values= "value"
)
pivot_df

metrics       profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120